* {
  padding: 0;
  margin: 0;
  font-family: "Computer Modern Sans", sans-serif;
}

body {
  margin: 0 auto;
  width: 1200px;
  background-color: rgb(16, 14, 14);
  color: #d9d9d9;
  font-size: 2rem;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 2rem;
}

h1 {
  text-align: center;
}

#nav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  display: flex;
  justify-content: center;
}

#nav ul {
  display: flex;
  list-style-type: none;
}

#nav ul li:not(:nth-child(1)) {
  margin-left: 2rem;
}

#cal-heatmap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  height: 10rem;
}

#color-picker {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#color-picker li {
  font-size: 1.2rem;
  margin-right: 2rem;
}

#color-picker li:hover {
  cursor: pointer;
}

#clear-btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.2rem 1rem;
  font-size: 1rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  transition: all 0.4s;
}

#clear-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-0.2rem);
}

#clear-btn:active {
  transform: translateY(0.2rem);
}

#items {
  margin-top: 0;
  padding: 5rem;
  background-color: rgb(16, 14, 14);
  display: flex;
  justify-content: flex-start;
}

#items ul {
  list-style: none;
}

p {
  font-size: 2.5rem;
  font-weight: 700;
}

#items li a {
  margin-left: 3rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: steelblue;
}

footer {
  text-align: center;
}

footer p,
footer a {
  font-size: 1rem;
}
